.statuspopup {
  position: absolute;
  display: none;
  width: 100%;
  background: rgba(32, 32, 32, 1);
  font-family: 'Inter', 'Arial', serif;
  font-style: normal;
}

.statuspopup_status_opened {
  display: flex;
}

.statuspopup__container {
  flex-direction: column;
  margin: 70px auto 50px;
  width: 396px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 1);
}

.statuspopup__status {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 60px;
}

.statuspopup__message {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.statuspopup__button {
  width: 100%;
  height: 45px;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  margin: 300px 0 16px;
  transition: 0.3s;
}

.statuspopup__button:hover {
  cursor: pointer;
  opacity: 80%;
}