.moviescard {
  width: 364px;
  height: 271px;
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.moviescard__header {
  display: flex;
  box-sizing: border-box;
  padding: 14px;
}

.moviescard__textblock {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.moviescard__title {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 290px;
}

.moviescard__duration {
  margin: 0;
  color: rgba(139, 139, 139, 1);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.moviescard__icon {
  background-image: url('../../images/moviescard-icon.svg');
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-self: center;
}

.moviescard__icon_active {
  background-image: url('../../images/moviescard-icon-active.svg');
}

.moviescard__icon_delete {
  background-image: url('../../images/moviescard-icon-delete.svg');
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-self: center;
}

.moviescard__icon:hover {
  cursor: pointer;
}

.moviescard__image {
  height: 203px;
  object-fit: cover;
}

@media (max-width: 891px) {
  .moviescard {
    width: 339px;
    height: 258px;
  }

  .moviescard__image {
    height: 190px;
  }
}