.portfolio {
  padding-bottom: 125px;
}

.portfolio__title {
  margin: 0 70px 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: rgba(139, 139, 139, 1);
}

.portfolio__list {
  margin: 0 70px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.portfolio__item {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.portfolio__item:not(:last-child) {
  padding: 0 0 19px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.portfolio__item:hover {
  cursor: pointer;
  opacity: 70%;
}

.portfolio__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.porfolio__link:hover {
  cursor: pointer;
}

.portfolio__icon {
  background-image: url('../../images/portfolio-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 29px;
  height: 29px;
}

.portfolio__icon:hover {
  cursor: pointer;
}


@media (max-width: 891px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__title {
    margin: 0 50px 50px;
  }

  .portfolio__list {
    margin: 0 50px 0;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__icon {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: 420px) {
  .portfolio__title {
    margin: 0 14px 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    margin: 0 14px 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__icon {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }

  .portfolio__item:not(:last-child) {
    padding: 0 0 19px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }

  .portfolio {
    padding-bottom: 70px;
  }
}