.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto 0;
  background: rgba(32, 32, 32, 1);
  position: relative;
  font-family: 'Inter', 'Arial', serif;
  font-style: normal;
}
