.navigation__link {
  margin: 0 30px 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  text-decoration: none;
}

.navigation__link:hover {
  cursor: pointer;
  opacity: 70%;
}

.navigation__btn {
  background-color: rgba(61, 220, 132, 1);
  border-radius: 3px;
  border: none;
  width: 76px;
  height: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: 0.3s;
}

.navigation__btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.navigation__nav {
  margin-left: 50px;
  display: flex;
  column-gap: 16px;
  justify-self: center;
}

.navigation__nav-item {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: 0.3s;
}

.navigation__nav-item:hover {
  cursor: pointer;
  opacity: 70%;
}

.navigation__accountblock {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0;
  column-gap: 7px;
}

.navigation__accountblock-text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  transition: 0.3s;
  color:rgba(255, 255, 255, 1);
}

.navigation__accountblock-text:hover {
  cursor: pointer;
  opacity: 70%;
}

.navigation__accountblock-icon {
  background-image: url('../../images/movie-account-icon.svg');
  background-color: rgba(49, 49, 49, 1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  margin: 0;
}

.navigation__burger {
  background-color: transparent;
  background-image: url('../../images/header-burger.svg');
  background-position: center;
  width: 44px;
  height: 44px;
  border: none;
  transition: 0.3s;
}

.navigation__burger:hover {
  cursor: pointer;
  opacity: 70%;
}

@media (max-width: 420px) {
  .navigation__link {
    font-size: 10px;
    margin-right: 14px;
  }

  .navigation__btn {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}