.searchfilm {
  margin: 0 auto 0;
  padding: 60px 70px 0;
  position: relative;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  max-width: 1280px;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', serif;
  font-style: normal;
}

.searchfilm__input {
  width: 100%;
  border-radius: 40px;
  height: 46px;
  padding: 14px 22px;
  box-sizing: border-box;
  background-color: rgba(47, 47, 47, 1);
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
}

.searchfilm__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 34px;
  border-radius: 48px;
  background: rgba(66, 133, 244, 1);
  top: 66px;
  right: 78px;
  border: none;
  transition: 0.3s;
}

.searchfilm__btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.searchfilm__btn:disabled {
  background: rgba(248, 248, 248, .5);
  opacity: 80%;
}

.searchfilm__btn-icon {
  background-image: url('../../images/searchmovies-btn-icon.svg');
  width: 22px;
  height: 22px;
}

.searchfilm__span {
  color: rgba(238, 52, 101, 1);
  margin: 10px auto 0;
  text-align: center;
  height: 18px;
  visibility: hidden;
}

.searchfilm__span_active {
  visibility: visible;
}


@media (max-width: 891px) {
  .searchfilm  {
    margin: 0 30px 0;
    padding: 80px 0 0;
  }

  .searchfilm__btn {
    top: 86px;
    right: 6px;
  }
}

@media (max-width: 420px) {
  .searchfilm  {
    margin: 0 14px 0;
    padding: 80px 0 0;
  }

  .searchfilm__btn {
    top: 86px;
  }
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }