.header {
  display: flex;
  align-items: center;
  padding: 18px 70px;
  background: rgba(7, 48, 66, 1);
}

.header_status_hidden {
  display: none;
}

.header_status_logged-in {
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

.header_status_on-movies {
  background: rgba(32, 32, 32, 1);
}