.header {
  background-color: rgba(7, 48, 66, 1);
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 18px 70px;
  background-color: rgba(7, 48, 66, 1);
  max-width: 1280px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.header_status_hidden {
  display: none;
}

.header_status_logged-in {
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

.header_status_on-movies {
  background: rgba(32, 32, 32, 1);
}

@media (max-width: 891px) {
  .header__wrapper {
    padding: 18px 30px;
  }
}

@media (max-width: 420px) {
  .header__wrapper {
    padding: 18px 14px;
  }
}