.footer {
  height: 172px;
  color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
}

.footer_status_hidden {
  display: none;
}

.footer__subtitle {
  color: rgba(139, 139, 139, 1);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 79px 70px 0;
  text-align: center;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding-bottom: 20px;
}

.footer__info {
  margin: 0 70px 0;
  display: flex;
  padding: 20px 0;
  display: flex;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  column-gap: 20px;
}

.footer__item:hover {
  cursor: pointer;
}

.footer__link {
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: 0.3s;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 70%;
}

@media (max-width: 891px) {
  .footer__subtitle {
    margin: 79px 30px 0;
  }

  .footer__info {
    margin: 0 30px 0;
  }

}


@media (max-width: 420px) {
  .footer {
    height: fit-content;
  }

  .footer__subtitle {
    margin: 79px 10px 0;
  }

  .footer__info {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 30px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    row-gap: 12px;
  }

  .footer__copyright {
    color: rgba(139, 139, 139, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}