.navtab {
  background: rgba(39, 39, 39, 1);
  height: 66px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;

}

.navtab__list {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 40px;
  margin: 0 auto 0;
}

.navtab__item {
  list-style-type: none;
  transition: 0.3s;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navtab__item:hover {
  cursor: pointer;
  opacity: 70%;
}

.navtab__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

}
